* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid black;
    padding: 5px 10px;
}

.silver {
    background-color: silver;
}

.platinum {
    background-color: #e5e4e2;
}